
body {
  background-color: rgb(234, 234, 234) !important;
}

/*home page styles*/

.masthead {
  background-image: linear-gradient(
          135deg,
          rgb(245, 23, 23) 0%,
          rgb(233, 109, 101) 69%,
          rgb(243, 151, 151) 89%
  ) !important;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0 !important;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.footer.segment {
  padding: 5em 0;
}

.secondary.inverted.pointing.menu {
  border: none;
}

/*end home page styles*/
